@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptyCart</title>
</head>
<body>
    <img src="https://cdn.dribbble.com/users/2433152/screenshots/6181369/empty_state.png" width="60%" height="500" />
    <a class="btn btn-outline-dark" asp-controller="Pizza" asp-action="Index">Add to Cart</a>
</body>
</html>
